:root {
    --primary: #ff6633;
    --secondary: #000;
    --light: #fff;
    --dark: #333;
    --accent: #10ff04;
    --accent2: #0c6efc;
    --gray: #cfcfcf;
     --border: #ddd;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    color: var(--dark);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: var(--secondary);
    padding: 1rem 2rem;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-brand {
    color: var(--light);
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.navbar-brand img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.search-container {
    width: 100%;
    background-color: var(--light);
    border-radius: 15px;
    padding: 2px;
    padding-bottom: 2.5rem;
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
}

.city-inputs {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
}

.city-card {
    flex: 1;
    min-width: 250px;
    background-color: var(--primary);
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    border-radius: 15px;
    transition: transform 0.3s ease;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-self: space-between;
}

.city-card:hover {
    transform: translateY(-2px);
}

.city-card-label {
    font-weight: bold;
    color: var(--secondary);
    margin-right: 0.5rem;
}

.city-input {
    flex: 1;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: var(--light);
    color: var(--dark);
    text-align: center;
    font-size: 1rem;
    transition: border-color 0.2s ease;
}

.city-input:focus {
    outline: none;
    border: 2px solid var(--primary)
}

.date-card {
    flex: 1;
    min-width: 250px;
    background-color: var(--primary);
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    border-radius: 15px;
    transition: transform 0.3s ease;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-self: space-between;
}

.date-card:hover {
    transform: translateY(-2px);
}

.date-card-label {
    font-weight: bold;
    color: var(--secondary);
    margin-right: 0.5rem;
}

.date-input {
    flex: 1;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: var(--light);
    color: var(--dark);
    text-align: center;
    font-size: 1rem;
    transition: border-color 0.2s ease;
}

.date-input:focus {
    outline: none;
    border: 2px solid var(--primary)
}

.btn-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.show-route-btn {
    border: none;
    width: 100%;
    max-width: 580px;
    padding: 0.75rem;
    background-color: var(--accent);
    color: var(--secondary);
    font-weight: bold;
    font-size: 1.1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.show-route-btn:hover {
    background-color: #0cce00;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.route-info {
    width: 100%;
    background-color: var(--light);
    border-radius: 15px;
    padding: 1.5rem;
    position: relative;
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
}

.map-area {
    width: 100%;
    background-color: var(--gray);
    border: 2px solid var(--border);
    border-radius: 10px;
    position: relative;
    margin-bottom: 1rem;
    padding-top: 56.25%; /* 16:9 */
    max-height: 400px; /* Максимальная высота */
}

.map-area iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
}

.autocomplete {
    position: relative;
    display: inline-block;
    width: 100%;
}

.autocomplete-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid var(--border);
    border-top: none;
    z-index: 10000;
    background: var(--light);
    max-height: 120px;
    overflow-y: auto;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.autocomplete-items div {
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.autocomplete-items div:hover,
.autocomplete-active {
    background-color: var(--primary);
    color: var(--light);
}

footer {
    background-color: var(--light);
    border-top: 1px solid var(--border);
    padding: 0.75rem 1.5rem;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    bottom: 0;
    z-index: 1000;
}

.footer-content a {
    color: var(--accent2);
    text-decoration: none;
    font-weight: 500;
}

.footer-content a:hover {
    text-decoration: underline;
}

.footer-authors {
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

@media (max-width: 768px) {
    .city-inputs {
        flex-direction: column;
    }
    
    .city-card {
        min-width: 100%;
    }
    
    .transport-icons {
        top: auto;
        bottom: 10px;
        right: 10px;
        flex-direction: row;
    }
    
    .info-footer {
        flex-direction: column;
        gap: 0.5rem;
    }
}